.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noSelect:focus {
    outline: 0;
}

.svg {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.svgCircleBg {
    fill: none;
}

.svgCircle {
    fill: none;
}

.svgCircleText {
    font-size: 10px;
    text-anchor: middle;
    font-family: "Courier New", Courier, monospace;
}
