.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--gray-04-medium);
    color: var(--gray-00-light);
    border-style: none;
    outline-color: var(--green-0);
    font-family: var(--text-font-00);
}

.button:hover {
    background-color: var(--green-0);
    color: var(--gray-01-dark);
}

.redOnHover:hover {
    background-color: #ff0000;
    color: var(--gray-01-dark);
}

.buttonIcon {
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 25%;
    composes: flexCenter button;
}
