.pagination {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.header {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.smallButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-decoration: none;
}

.linkButton {
    border-radius: 25%;
    composes: smallButton;
}

@media (max-width: 850px) {
    .header {
        flex-wrap: wrap-reverse;
    }
}
