.grid {
    display: grid;
    grid-template-columns: 75px 9fr 7fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    font-family: var(--text-font-00);
    background-color: var(--gray-01-dark);
    color: var(--gray-00-light);
    padding: 10px;
}

.common {
    border-radius: 10px;
    padding: 15px;
    overflow: scroll;
    background-color: var(--gray-03-transparent-2);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes {
    grid-area: 1 / 3 / 3 / 4;
    composes: common;
}

.preview {
    grid-area: 1 / 2 / 2 / 3;
    composes: common;
}

.snippet {
    grid-area: 2 / 2 / 3 / 3;
    composes: common;
}

.nav {
    grid-area: 1 / 1 / 3 / 2;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    composes: common;
}

.navButtonsContainer {
    height: auto;
}

.buttonIcon {
    background-color: var(--gray-02-transparent);
    color: var(--gray-00-light);
    border-style: none;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    font-size: 20px;
    margin: 10px;
    outline-color: var(--green-0);
    composes: flexCenter;
}

.buttonIcon:hover {
    background-color: var(--green-0);
    color: var(--gray-01-dark);
}

@media (max-width: 800px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .navButtonsContainer {
        display: flex;
    }
}
