.grid {
    display: flex;
    height: 100vh;
    padding: 10px;
    width: 100vw;
}

.twoSectionsLayout {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    height: 97vh;
}

.common {
    border-radius: 10px;
    padding: 15px;
    overflow: scroll;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div0 {
    padding: 15px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    composes: common div0;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
    composes: common div0;
}

.reactMenuButton {
    font-size: 1.25rem;
    border-radius: 15px;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px;
}

.menu {
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 0.75;
}

.themeMenu {
    margin: 20px;
    padding: 30px;
    width: 450px;
    border-radius: 10px;
}

.nav {
    flex-shrink: 0;
    width: 70px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    composes: common;
}

.main {
    flex-grow: 1;
}

.navButtonsContainer {
    height: auto;
    z-index: 2;
}

.paragraph {
    margin: 10px;
}

@media (max-width: 850px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        min-height: 100vh;
        width: fit-content;
    }

    .nav {
        height: 70px;
        width: 100vw;
        padding: 0px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .main {
        margin-top: 10px;
        grid-area: 2 / 1 / 3 / 2;
    }

    .twoSectionsLayout {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        flex-wrap: wrap;
    }

    .div0 {
        margin: 0;
        margin-bottom: 10px;
        width: 100vw;
    }

    .div2 {
        composes: div0;
    }

    .div1 {
        composes: div0;
        order: 1;
    }

    .navButtonsContainer {
        display: flex;
    }

    .menu {
        width: 100%;
        top: 80px;
        left: 0px;
        z-index: 1;
        composes: div1;
    }

    .themeMenu {
        width: 98%;
        margin-top: 0;
        align-self: center;
        padding: 10px;
    }

    .reactMenuButton {
        font-size: 18px;
        padding: 10px;
        margin: 5px;
    }
}
