/***************
    DARK THEME
 ***************/

.darkBody {
    background-color: var(--gray-01-dark);
    color: var(--gray-00-light);
}

.darkSection {
    background-color: var(--gray-06-dark-2);
}

.darkButton {
    background-color: var(--gray-04-medium);
}

.darkButtonOnHover:hover {
    color: var(--gray-01-dark);
}

.invertedDarkButton {
    color: var(--gray-01-dark);
    opacity: 0.8;
}

.invertedDarkButton:hover {
    opacity: 1;
}
/***************
    LIGHT THEME
 ***************/

.lightBody {
    color: var(--gray-01-dark);
    background-color: var(--gray-02-medium-light);
}

.lightSection {
    background-color: var(--gray-03-light-2);
}

.lightButton {
    background-color: var(--gray-02-medium-light);
}

.lightButtonOnHover:hover {
    color: var(--gray-00-light);
}

.invertedLightButton {
    color: #ffffff;
    opacity: 0.8;
}

.invertedLightButton:hover {
    opacity: 1;
}

/***************
    FUNKY THEME
 ***************/

.funkyBody {
    color: #ffa7c4;
    background-color: #373c48;
}

.funkySection {
    background-color: #282c35;
}

.funkyButton {
    background-color: #06d7d9;
}

.funkyButtonOnHover:hover {
    color: #06d7d9;
}

.invertedFunkyButton {
    color: #06d7d9;
    opacity: 0.8;
}

.invertedFunkyButton:hover {
    opacity: 1;
}

/***************
    COLORS
 ***************/

.greenBgOnHover:hover {
    background-color: var(--green-0);
}

.pinkBgOnHover:hover {
    background-color: var(--pink-0);
}
.greenBgOnHover:hover {
    background-color: var(--green-0);
}
.blueBgOnHover:hover {
    background-color: var(--blue-0);
}
.purpleBgOnHover:hover {
    background-color: var(--purple-0);
}
.orangeBgOnHover:hover {
    background-color: var(--orange-0);
}

.pinkColor {
    color: var(--pink-0);
}
.greenColor {
    color: var(--green-0);
}
.blueColor {
    color: var(--blue-0);
}
.purpleColor {
    color: var(--purple-0);
}
.orangeColor {
    color: var(--orange-0);
}

.greenColor {
    color: var(--green-0);
}

/***************
    DISABLED
 ***************/

.disabled {
    opacity: 0.3;
}

.disabled:hover {
    opacity: 0.3;
}
