::-moz-selection {
    color: rgb(255, 255, 0);
    background-color: rgb(255, 0, 255);
}

::selection {
    color: rgb(255, 255, 0);
    background-color: rgb(255, 0, 255);
}

input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus,
pre:focus,
div:focus {
    outline-color: #c0c0c0;
    outline-width: 1px;
    outline-style: dashed;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-style: none;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #c0c0c0;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

::placeholder {
    color: #c0c0c0;
}

body {
    line-height: 1.25;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
}

button:hover,
a:active,
a:hover {
    text-decoration: underline;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

ol,
ul {
    margin-left: 10px;
    padding-left: 10px;
}

li {
    padding: 4px 0px;
}

h1 {
    font-size: 50px;
    line-height: 1;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

p {
    margin: 8px;
}

blockquote p {
    border-left: 2px solid #c0c0c0;
    padding: 15px;
}

pre,
code {
    font-family: Monaco, Menlo, "Courier New", Courier, monospace;
    background-color: rgba(0, 255, 0, 0.1);
    min-width: 0;
    opacity: 1;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

@media (max-width: 850px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }
}
