/***************
    COLORS
 ***************/

.greenBackgroundOnHover:hover {
    background-color: var(--green-0);
}

.darkColorOnHover:hover {
    color: var(--gray-01-dark);
}

/***************
    DARK THEME
 ***************/

.darkBody {
    background-color: var(--gray-01-dark);
    color: var(--gray-00-light);
}

.darkDiv {
    background-color: var(--gray-06-dark-2);
}

.darkButton {
    background-color: var(--gray-01-dark);
    color: var(--gray-00-light);
    border-style: none;
    outline-color: rgba(0, 0, 0, 0.1);
}

.darkButton:hover {
    color: var(--gray-01-dark);
}
