@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Kanit:wght@700&display=swap");

:root {
    --pink-0: #e84393;
    --green-0: #5de294;
    --gray-00-light: rgb(223, 223, 223);
    --gray-01-dark: #202124;
    --gray-02-transparent: rgba(191, 191, 191, 0.05);
    --gray-03-transparent-2: rgba(0, 0, 0, 0.2);
    --gray-04-medium: rgba(39, 40, 43, 1);
    --gray-05-transparent-3: rgba(26, 26, 29, 0.9);
    --gray-06-dark-2: #1a1a1e;
    --header-font-00: "Kanit";
    --text-font-00: "Nunito";
}
