@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Kanit:wght@700&family=Arvo&family=Montserrat:wght@400&family=Quattrocento&family=Rokkitt:wght@300&family=Bevan&family=Cabin+Sketch:wght@700&family=Permanent+Marker&family=Walter+Turncoat&display=swap");

:root {
    --pink0: #e84393;
    --green0: #5de294;
    --blue0: #16bdca;
    --purple0: #ac94fa;
    --orange0: #ff8a4c;
    --blue1: #76a9fa;
    --green1: #31c48d;
    --pink1: #f17eb8;
    --peach0: #f98080;
    --orange1: #e3a008;
    --gray-00-light: rgb(223, 223, 223);
    --gray-01-dark: #202124;
    --gray-04-medium: rgba(39, 40, 43, 1);
    --gray-06-dark-2: #1a1a1e;
    --gray-02-medium-light: #ededed;
    --gray-03-light-2: #f7f7f7;
    --gray-07-middle: rgb(127, 127, 127);
    --header-font-00: "Bevan";
    --header-font-01: "Kanit";
    --header-font-02: "Permanent Marker";
    --header-font-03: "Walter Turncoat";
    --header-font-04: "Cabin Sketch";
    --body-font-00: "Quattrocento";
    --body-font-01: "Nunito";
    --body-font-02: "Arvo";
    --body-font-03: "Montserrat";
    --body-font-04: "Rokkitt";
}
